.colors{
    width: 630px;
    display: flex;
    flex-flow: row wrap;
}

.color{
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.colorName {
    color: #ffffff;
    font-size: 10px;
    padding: 3px;
}