.header {
    display: flex;
    justify-content: space-around;
}

.navbar {
    background: #B5ABA1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 63px;
    flex-shrink: 0;
}